@import url(../../../_settings/_variabel.css);
/* Navbar */
.header {
    position: fixed;
    position: absolute;
    background-color: var(--primary-1);
    /* opacity: 0.9; */
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.navbar-menu {
    position: relative;
    font-size: 1.15rem;
    color: var(--neutral-2);
    padding: 0 0;
    text-decoration: none;
    width: max-content;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -6px;
        width: 100%;
        height: 3px;
        background: var(--neutral-2);
        border-radius: 5px;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform 0.5s;
    }
    &:hover::after {
        transform-origin: left;
        transform: scaleX(1);
    }
    &:hover {
        color: var(--neutral-2);
    }
}
.icons {
    /* position: absolute; */
    margin: 0px;
    font-size: 2.8rem;
    color: var(--neutral-2);
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}
/* End Navbar */
/* Footer Style */
.footer-contact-container {
    display: flex;
    justify-content: center;
    gap: 1em;
}
/* End Footer Style */
/* Home Style */
/* Home Hero */
.background-image {
    min-height: 100vh;
    background: url("/assets/img/guest/image-1.png") no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}
.backdrop-text {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    min-height: 50vh;
    width: 60%;
    background-color: var(--neutral-2);
    opacity: 0.65;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    z-index: 2;
}
/* .backdrop {
    min-height: 100vh;
    background-color: var(--neutral-2);
    opacity: 0.8;
    background-size: cover;
    background-position: center;
    z-index: 1;
} */

.hero-text {
    color: var(--neutral-1);
    font-weight: bolder;
    z-index: 3;
}
.hero-title {
    color: var(--primary-1);
    font-weight: bold;
}
/* End Home Hero */

/* Home Content */

.home-menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.home-menu-list {
    display: flex;
    row-gap: 2.5em;
    column-gap: 3.7em;
    justify-content: center;
    flex-wrap: wrap;
    width: fit-content;
    width: 100%;
}

.home-menu-catering,
.catering-menu {
    display: flex;
    animation-duration: 1s;
    animation-name: animate-pop;
    animation-fill-mode: backwards;
}
.home-menu-cake,
.cake-menu {
    display: none;
    animation-duration: 1s;
    animation-name: animate-pop;
    animation-fill-mode: backwards;
}
@keyframes animate-pop {
    0% {
        opacity: 0;
        transform: scale(0.5, 0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}
.home-menu-card {
    width: 25.625rem;
    height: 25.3rem;
    border-radius: 8px;
    text-decoration: none;
    color: var(--neutral-1);
    cursor: pointer;
    box-shadow: var(--shadow-1);
    transition: 0.5s;
    &:hover {
        box-shadow: var(--shadow-2);
        transform: scale(1.03);
        transition: transform 0.5s;
    }
}

.home-card-img img {
    border-radius: 8px 8px 0 0;
        width: 100%;
        height: 18rem;
        object-fit: fill;
        border-bottom: solid 1px #dcdcdc;
}

.home-menu-card-body {
    padding: 1rem 1.5rem;
    height: 8em;
}
.home-menu-title{
    height: 1.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.home-menu-desc{
    height: 3em;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.home-why-item-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 9.8rem;
}

.home-why-item {
    width: 19.5em;
    height: 19.5em;
    margin: 0 1rem;
}

.home-why-item img {
    width: 11em;
    height: 11em;
    margin-bottom: 1.5rem;
}
.home-testimoni-card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 5.5em;
    row-gap: 1em;
}
.home-testimoni-card {
    width: 25em;
    height: 15em;
    padding: 2rem 1rem 0 1rem;
    background-color: var(--neutral-3);
    color: var(--neutral-2);
    border-radius: 12px;
}

/* End Home Content */

/* End Home Style */

/* Button */
.home-menu-button {
    padding: 0.5rem 1rem;
    margin: 1rem;
    width: 10rem;
    color: var(--neutral-1);
    background-color: var(--neutral-2);
    border: solid 2px var(--neutral-1);
    border-radius: 20px;
}

.catering-btn {
    background-color: var(--primary-1);
    color: var(--neutral-2);
    border: solid 2px var(--primary-1);
}

.btn-search {
    background-color: var(--primary-1);
    color: var(--neutral-2);
    width: 7em;
    border-radius: 0 0.375rem 0.375rem 0;
    padding-left: 2em;
}
/* End Button */

/* Form */
#bootstrap-override.form-search {
    width: 25.6em;
}
/* End Form */

/* Dropdown */
.dropdown {
    height: 2.45em;
    width: 23em;
}
/* End Dropdown */

/* Floating Link */
.floating-container {
    position: fixed;
    width: 100px;
    height: 100px;
    bottom: 0;
    right: 0;
    margin: 35px 25px;
}
.floating-container:hover {
    height: 13em;
}
.floating-container:hover .floating-button {
    box-shadow: 0 10px 25px rgba(44, 179, 240, 0.6);
    -webkit-transform: translatey(5px);
    transform: translatey(5px);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.floating-container:hover .element-container .float-element:nth-child(1) {
    -webkit-animation: come-in 0.4s forwards 0.2s;
    animation: come-in 0.4s forwards 0.2s;
}
.floating-container:hover .element-container .float-element:nth-child(2) {
    -webkit-animation: come-in 0.4s forwards 0.4s;
    animation: come-in 0.4s forwards 0.4s;
}
.floating-container:hover .element-container .float-element:nth-child(3) {
    -webkit-animation: come-in 0.4s forwards 0.6s;
    animation: come-in 0.4s forwards 0.6s;
}
.floating-container .floating-button {
    position: absolute;
    width: 65px;
    height: 65px;
    background: var(--primary-1);
    bottom: 0;
    border-radius: 50%;
    left: 0;
    right: 0;
    margin: auto;
    color: white;
    line-height: 65px;
    text-align: center;
    font-size: 23px;
    z-index: 100;
    cursor: pointer;
    box-shadow: 0 10px 25px -5px rgba(44, 179, 240, 0.6);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.floating-container .float-element {
    position: relative;
    display: block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 15px auto;
    color: var(--neutral-2);
    font-weight: 500;
    text-align: center;
    line-height: 50px;
    z-index: 0;
    opacity: 0;
    cursor: pointer;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
}
.floating-container .float-element .material-icons {
    vertical-align: middle;
    font-size: 24px;
    color: var(--neutral-2);
}
.floating-container .float-element:nth-child(1),
.floating-container .float-element:nth-child(2) {
    background: var(--primary-1);
    box-shadow: 0 20px 20px -10px rgba(66, 165, 245, 0.5);
}

@-webkit-keyframes come-in {
    0% {
        -webkit-transform: translatey(100px);
        transform: translatey(100px);
        opacity: 0;
    }
    30% {
        -webkit-transform: translateX(-50px) scale(0.4);
        transform: translateX(-50px) scale(0.4);
    }
    70% {
        -webkit-transform: translateX(0px) scale(1.2);
        transform: translateX(0px) scale(1.2);
    }
    100% {
        -webkit-transform: translatey(0px) scale(1);
        transform: translatey(0px) scale(1);
        opacity: 1;
    }
}
@keyframes come-in {
    0% {
        -webkit-transform: translatey(100px);
        transform: translatey(100px);
        opacity: 0;
    }
    30% {
        -webkit-transform: translateX(-50px) scale(0.4);
        transform: translateX(-50px) scale(0.4);
    }
    70% {
        -webkit-transform: translateX(0px) scale(1.2);
        transform: translateX(0px) scale(1.2);
    }
    100% {
        -webkit-transform: translatey(0px) scale(1);
        transform: translatey(0px) scale(1);
        opacity: 1;
    }
}
/* End Floating Link */

/*Menu Style */
.dropdown-toggle {
    text-align: left;
    background-color: var(--neutral-2); /* Menghilangkan warna latar belakang */
    border-color: var(--neutral-1);
    color: var(--neutral-1);
    border-width: 2px;
    width: 100%;
    height: 100%;
    border-radius: 0.375rem;
    border: solid 2px var(--neutral-1);
}

.title-menu-container {
    display: flex;
    justify-content: center;
    column-gap: 1em;
    margin: 5em 0 1.5em 0;
}

.menu-title-active {
    text-align: center;
    font-size: 2em;
    text-decoration: none;
    color: var(--primary-2);
    font-weight: bold; /* Make the text bold */
    cursor: pointer;
    transition: all 0.5s;
    &:hover {
        transform: scale(1.05);
        transition: all 0.5s;
    }
}

.menu-title-separator {
    height: 2em;
    border-left: solid 0.3em var(--primary-2);
    color: var(--primary-2);
    font-weight: bold; /* Make the text bold */
    margin-top: 0.5em;
}

.menu-title-inactive {
    text-align: center;
    font-size: 2em;
    text-decoration: none;
    color: var(--neutral-1);
    font-weight: bold; /* Make the text bold */
    cursor: pointer;
    transition: all 0.5s;
    &:hover {
        transform: scale(1.05);
        transition: all 0.5s;
    }
}

.menu-controller-container {
    /* background-color: yellow; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 4.25em;
    row-gap: 1.5em;
}

.search-container {
    width: 23em;
    border: solid 2px var(--neutral-1);
    border-radius: 0.375rem;
}

.menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    column-gap: 6.5em;
    row-gap: 4em;
}
.menu-content-container {
    display: flex;
    flex-direction: column;
}

.active-menu {
    display: flex;
}
.inactive-menu {
    display: none;
}

.menu-card {
    display: flex;
    flex-direction: column;
    height: 28em;
    width: 23em;
    border-radius: 8px;
    text-decoration: none;
    color: var(--neutral-1);
    cursor: pointer;
    box-shadow: var(--shadow-1);
    transition: 0.5s;
    &:hover {
        box-shadow: var(--shadow-2);
        transform: scale(1.03);
        transition: transform 0.5s;
    }
}
.menu-card-img {
    height: 18em;
    width: 23em;
}
.menu-card-img img {
    border-radius: 8px 8px 0 0;
    width: 100%;
    height: 18rem;
    object-fit: fill;
    border-bottom: solid 1px #dcdcdc;
}
.menu-card-body {
    padding: 1em 2em 0 2em;
}

.menu-title{
    height: 1.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu-desc{
    height: 3em;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu-price {
    color: var(--primary-2);
}
/* End Menu Style */
/* Detail Style */
.detail-container {
    padding-top: 6em;
}
.detail-content {
    display: flex;
    justify-content: center;
    column-gap: 2em;
    row-gap: 1em;
    flex-wrap: wrap;
    margin-bottom: 2em;
}
.detail-img {
    width: 28em;
    height: 28em;
}
.detail-img img {
    width: 100%;
    height: 28rem;
    object-fit: fill;
    border-radius: 0.87em;
}
.detail-product {
    padding: 1em 0.5em 2em 1em;
    width: 55em;
}
.contact-whatsapp {
    height: 3em;
    display: flex;
    column-gap: 0.5em;
    text-decoration: none;
    color: var(--neutral-2);
    background-color: #25d366;
    border: solid 0.1px #25d366;
    box-shadow: 0 2px 5px var(--neutral-3);
    width: fit-content;
    font-size: 15px;
    padding: 0.7em 1em 0 1em;
    border-radius: 8px;
}
.related-title {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-weight: bold;
    font-size: 1.8em;
}
.related-separator {
    border: 3px solid var(--neutral-1);
    width: 20em;
    height: 1px !important;
}
/* End Detail Style */
/* About Style */
.about-container {
    padding-top: 6em;
    margin-bottom: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3em;
}
.about-text {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    text-align: center;
    width: 55%;
    padding: auto;
    margin-bottom: 3.5em;
}
.about-image {
    width: fit-content;
}
.about-image img {
    width: 100%;
    height: 28em;
    object-fit: fill;
    border-radius: 0.87em;
}

.how-to-order {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 1em;
    row-gap: 1em;
    width: 100%;
}
.how-to-image {
    width: 38em;
}
.how-to-image img {
    width: 100%;
    object-fit: fill;
    border-radius: 0.87em;
}
.how-to-text-container {
    width: fit-content;
    height: fit-content;
    white-space: wrap;
}
.how-to-text {
    font-size: 1.2em;
}
/*End About Style */
/* Responsive */
@media (max-width: 440px) {
    /* Navbar Responsive */
    .header {
        padding: 0.5rem 1rem;
        background-color: var(--primary-1);
        display: flex;
        justify-content: end;
    }

    .icons {
        display: inline-flex;
    }

    #check:checked ~ .icons #menu-icon {
        display: none;
    }
    .icons #close-icon {
        display: none;
    }

    #check:checked ~ .icons #close-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 74%;
        left: 0;
        width: 100%;
        height: 0;
        background-color: var(--primary-2);
        /* opacity: 0.5; */
        overflow: hidden;
        backdrop-filter: opacity(5%);
        transition: height 0.1s ease;
        -webkit-transition: height ease 0.3s;
    }

    #check:checked ~ .navbar {
        height: 10rem;
    }

    .navbar-menu {
        display: block;
        width: 100%;
        font-size: 1rem;
        margin: 0;
        opacity: 0;
        text-align: center;
        transform: translateY(-50px);
        transition: 0.3s ease;
    }

    #check:checked ~ .navbar a {
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(1 * var(--i));
    }
    /* End Navbar Responsive */

    /* Home Style */
    /* Home Content Responsive */
    .home-why-item {
        width: 100%;
    }
    .home-testimoni-card {
        width: 100%;
        margin-bottom: 1rem;
        padding: 2rem 1rem 0 1rem;
        background-color: var(--neutral-3);
        color: var(--neutral-2);
        border-radius: 12px;
    }
    /* End Home Content Responsive */
    /* End Home Style */
}

/* End Responsive */
