.background-image {
    min-height: 100vh;
    background: url("/assets/img/guest/image-1.png") no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}
.backdrop {
    min-height: 100vh;
    background-color: #d9080296;
    -webkit-backdrop-filter: opacity(59%);
    backdrop-filter: opacity(59%);
    background-size: cover;
    background-position: center;
    z-index: 10;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem 0;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.navbar-menu {
    font-size: 1.15rem;
    color: #fff;
    padding: 0 0;
    text-decoration: none;
    width: max-content;
    margin-left: 10px;
    margin-right: 10px;
    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -6px;
        width: 100%;
        height: 3px;
        background: black;
        border-radius: 5px;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform 0.5s;
    }
    &:hover::after {
        transform-origin: left;
        transform: scaleX(1);
    }
}
.icons {
    /* position: absolute; */
    margin: 0px;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/* BREAKPOINTS */
@media (max-width: 440px) {
    .header {
        padding: 0.5rem 1rem;
        background-color: #d9080296;
        display: flex;
        justify-content: end;
    }

    .icons {
        display: inline-flex;
    }

    #check:checked ~ .icons #menu-icon {
        display: none;
    }
    .icons #close-icon {
        display: none;
    }

    #check:checked ~ .icons #close-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 76%;
        left: 0;
        width: 100%;
        height: 0;
        background-color: rgba(0, 0, 0, 0.1);
        overflow: hidden;
        backdrop-filter: opacity(100%);
        transition: height 0.1s ease;
        -webkit-transition: height ease 0.3s;
    }

    #check:checked ~ .navbar {
        height: 10rem;
    }

    .navbar a {
        display: block;
        width: 100%;
        font-size: 1rem;
        margin: 0;
        opacity: 0;
        text-align: center;
        transform: translateY(-50px);
        transition: 0.3s ease;
    }

    #check:checked ~ .navbar a {
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(1 * var(--i));
    }
}

/* style-melsa catering-guest */
.judul {
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 40px;
    color: #8F0000;
    font-weight: bold; /* Make the text bold */
    margin-bottom: 50px;

  }

  .btn.dropdown-toggle {
    text-align: left;
    background-color: transparent; /* Menghilangkan warna latar belakang */
    border-color: #A3A3A3; 
    color: #575757;
    border-width: 2px;
    margin-bottom: 50px;
    width: 350px;
}


.custom-row {
    /* display: inline-block; */
    /* margin-right: 5px; */
    margin-right: -10px;
}

.melsacatering {
    justify-content: space-between; 
    align-items: center; /* Menempatkan item di tengah secara vertikal */
    padding: 70px; /* Menambahkan padding */
}

/* style-card-melsa kue-guest */
.card-container {
    width: 100%;
    /* margin-right: 15px; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 4em;
    justify-content: center;
}

.card {
    position: relative;
    display: grid;
    border-radius: 10px;
    box-shadow: 0 15px 15px rgba(131, 130, 130, 0.2);
    overflow: hidden;
    /* Mengatur overflow agar gambar tidak melebihi batas card */
    width: 100%;
    margin-bottom: 60px;
}

.card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1em;
    background-color: white;
    /* Menambahkan latar belakang semi-transparan untuk judul dan teks */
}

.card-title {
    font-weight: medium;
    color: black;
}

.card-text {
    color: black;
    text-align: justify;
    margin: 0.8em 0 1em 0;
}

.card-price {
    color: #8F0000;
    text-align: justify;
    margin: 0.8em 0 1em 0;
    font-weight: bold;
}

.number-row {
    display: flex;
    justify-content: space-between;
    /* Distribute squares evenly */
    width: fit-content;
    /* Adjust width as needed */
    margin: 0 auto;
    /* Center the row horizontally */
    gap: 15px;
    font-family: Roboto, sans-serif;
}

.number-square {
    width: 35px;
    height: 40px;
    background-color: transparent;
    /* Mengatur latar belakang menjadi transparan */
    color: red;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    border-radius: 10px;    /* Menghapus border */
    outline: 2px solid red;/* Menambahkan outline merah */
    display: flex;
    justify-content: center; /* Center the number horizontally */
    align-items: center;
}

.number-square:hover {
    background-color: red; /* Mengubah warna latar belakang saat hover */
    color: white; /* Mengubah warna teks saat hover */
}